@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  transition: opacity 0.25s ease;
}
body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;

}

body.modal-active .sitewrapper {
  filter: blur(2px);
}

body.modal-active .modal {
  z-index: 99999;
}

.modal {
  @apply fixed w-full h-full top-0 left-0 flex items-center justify-center;

  transition: all 0.4s;

}

.modal-overlay {
  @apply absolute w-full h-full opacity-50;

  background-color: var(--user-bg);
}

.modal-container {
   @apply mx-auto rounded shadow-lg z-50 overflow-y-auto bg-white;

  transition: all 0.4s;
  transform: translateY(-5vh);
}

body.modal-active .modal-container {
    transform: translateY(0vh);
}

.modal-content {
  @apply flex h-half;
}
.modal-left {
    @apply w-2/5 bg-primary;
}

.modal-close {
  @apply absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50;
}

.modal-large {
  width: 70% !important;
}

.modal-large .modal-content {
  height: 70vh;
}

.modal-image {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.modal-top-align .modal-content{
  height: auto;
}

.modal-right {
    @apply py-4 w-3/5 text-left px-6 flex flex-col justify-center;
}

.modal-top {
  @apply w-full;
}

.modal-bottom {
  @apply py-4 w-full text-left px-6;
}

.modal-title {
  @apply font-bold text-3xl mb-5 leading-tight;
}

.modal-text {
  @apply text-gray-500 text-lg leading-relaxed;
}

.cta_container {
  @apply mt-5;
}

.modal-btn {
  @apply rounded-full uppercase text-white mr-5 inline-block;

  font-size: 14px;
  background-color: var(--user-btn-bg);
  font-weight: bold;
  padding: 0.75em 1.5em;
  transition: all 0.4s;
}

.modal-bg {
  opacity: 1;
}

.modal-btn:hover {
  filter: brightness(0.9);
}

.secondary_link {
  font-size: 14px;
  font-weight: bold;
  color: #666;
}
